<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chat</title>
    <link rel="stylesheet" href="views/style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script>
        const ROOM_ID = "<%= roomId %>"
    </script>
    <script defer src="views/peerjs.min.js"></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="public/script.js" defer></script>
    <title>Document</title>
    <style>
        #video-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, 400px);
            grid-auto-rows: 400px;
        }

        video {
            width: 70%;
            height: 100%;
            object-fit: cover;
        }
    </style>
</head>

<body>
<div class="all">
    <div class="child1">
        <div class="logo">
            <img src="views/marco_aproved.jpg" alt="Logo" width="290" height="60">
        </div>
        <br>
        <br>
        <div class="othervideo">
            <div id="video-grid"></div>
        </div>
        <br>
    </div>


    <div class="child2">
        <br>
        <br>
        <div id="chatControls" class="currenttext">
            <input id="message" placeholder="Type your message">
            <button id="send">Send</button>
        </div>
        <div id="chat" class="oldtexts">    <!-- Built by JS --> </div>
        <script src="public/chat.js"></script>
    </div>
</div>
</body>
</html>